/* Basic styling */
label.file-upload {
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
label.file-upload input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  cursor: pointer;
}
/* Customize it yourself! */
label.file-upload {
  border: 1px solid #575757;
  padding: 5px 10px;
  width: 70px;
  border-radius: 5px;
}
label.file-upload:hover {
  color: white;
  background-color: #575757;
}
label.file-upload.disabled {
  color: #C6C6C6;
}
label.file-upload.disabled:hover {
  color: #C6C6C6;
  background-color: white;
}
span.delete {
  margin-right: 30px;
  cursor: pointer;
}
